
@font-face {
    font-family: Sunflower;
    font-weight: bold;
    src: url("fonts/Sunflower-lgZye.otf") format("opentype");
}

 

body {

    margin: auto;
    background: url("images/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; 
    

}

.title {

    margin-left: 5px; 
    font-family: Sunflower, arial; 
    font-size: 48px;

}

.button {
     
    font-family: arial; 
    font-size: 20px; 
    padding: 10px; 
    width: 240px; 
    height: 44px; 
    border-radius: 12px;

    background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
    margin: 10px;
   
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    background-size: 200% auto;
    color: #fff;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;

}

.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    
  }

#searchField {

    background-color: #fff; 
    margin: 15px 5px 5px 5px; 
    font-family: arial; 
    font-size: 20px; 
    padding: 10px; 
    width: 216px; 
    height: 26px; 
    border-radius: 12px;

}

.contentDiv {

    text-align: center; 
    margin: 5px; 
    width: 220px; 
    border: 1px solid #bbb; 
    border-radius: 12px; 
    font-family: arial; 
    font-size: 18px; 
    padding: 10px;
    background-color: rgba(255,255,255,0.0);

}

.moviePoster {

    border: 1px solid #ddd; 
    width: 220px;
   

}


.flex-container {

    display: flex;
    width: 100%;

    justify-content: center; 
    flex-wrap: nowrap;   
    flex-direction: column; 
    align-items: center;
    flex: 0 1 auto; 
    
}

.field-container {

    
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    width: 258px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 12px;
    text-align: center;
    box-shadow: 3px 6px black;

}

